name: Main App Workflow

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: 'Node.js version to use'
        required: true
        type: string
      environment:
        description: 'Deployment environment'
        required: true
        type: string
        default: 'staging'
    # outputs:
    #   java-version: ${{ github.event.inputs.java-version }}
    #   environment: ${{ github.event.inputs.environment }}
jobs:
  calling-reusable-logic-CI:
    uses: ./.github/workflows/reusable_CI_wf.yml
    with:
      java-version: '${{ github.event.inputs.java-version }}'
      environment: '${{ github.event.inputs.environment }}'

  calling-reusable-logic-CD:
    if: needs.calling-reusable-logic-CI.outputs.ci_status == 'success'
    uses: ./.github/workflows/reusable_CD_wf.yml
    with:
      environment: '${{ github.event.inputs.environment }}'
      class: '${{ needs.calling-reusable-logic-CI.outputs.ci_class }}'
