name: Reusable CI Template

on:
  workflow_call:
    # Define inputs that the caller must or can provide
    inputs:
      java-version:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: 'staging'
    
    outputs:
      ci_class:
        description: "The class of the CI template"
        value: ${{ jobs.build-and-test.outputs.class_output }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    outputs:
      class_output: ${{ steps.set-class.outputs.class }}
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java-version }}     
      - name: Verify Java Installation
        run: |
          echo "Running tests in ${{ inputs.environment }} environment..."  >> $GITHUB_STEP_SUMMARY
          java -version
      - name: Set Class Output
        id: set-class
        run: echo "class=DevOps_CICD_Template" >> $GITHUB_OUTPUT