    name: Reusable CD Template

on:
  workflow_call:
    # Define inputs that the caller must or can provide
    inputs:
      class:
        required: true
        type: string
      environment:
        required: true
        type: string
        default: 'staging'
    
    jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v3

          - name: Deploy Application
            run: |
              echo "Deploying to environment: ${{ inputs.environment }}"   >> $GITHUB_STEP_SUMMARY
              echo "Using class: ${{ inputs.class }}"   >> $GITHUB_STEP_SUMMARY